@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 240 5% 96%;
  }
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
}

@layer utilities {
  .min-h-screen {
    min-height: 100dvh;
  }
}