@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 10%;
  --foreground: 240 5% 96%;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
  background: linear-gradient(to bottom, rgb(9, 9, 11), rgb(24, 24, 27));
  color: rgb(228, 228, 231);
  min-height: 100vh;
}

@layer utilities {
  .min-h-screen {
    min-height: 100dvh;
  }
}
